/* navbar starts */
.navbar
{
    top:0px;
    position: sticky;
}
.navbar font1
{
    margin-left: 60%;
	font-size: 50px;	
}
/*anchor tag strats */
a
{
    text-decoration: none;
    float: right;
    padding: 120;
	margin-right:5px;
	padding-right:2px;
    font-size:15px;
    font-family: fantasy;
}
#main_section
{
    height:500px;
    background-color:white;
    float: left;
    width:100%;
    margin-top: 30px;
    margin-top:0px;
    background-image: url('../images/20.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h4,h1,h2
{
   text-align: center;
   font-family:'Roboto Condensed';
}
/* form style */

label {
    display: inline-block;
    width: 200px;
    }
#alignright {
    margin-left: 120px;
    }
/* footer starts */
footer 
{
    margin: 0;
    height: 80px;
    padding: 10px 10px 10px 10px;
    background-color:black;
    color: white;
}
footer h3
{
    text-indent: 10px;
    font-size: 20px;
    padding: 10px;
    font-family:fantasy;
    float: left;
}
.color
{
    color:white;
}
    