/* navbar starts*/
.navbar
{
    top:0px;
    position: sticky;
   
}
.navbar font1
{
    margin-left: 60%;
	font-size: 50px;	
}
/*srticle div*/
#before heading
{
    height: 50px;
}
#Main heading
{
    text-align: center;
    color: brown;
    font-family: fantasy;
    font-size: 100px;
}
#space
{
    column-count: 3;
    column-width: 200px;
    color: beige;
    font-family: 'Roboto Condensed';
}
/*anchor */
a{
    text-decoration: none;
    float: right;
    padding: 120;
    margin-right:5px;
    padding-right:5px;
    font-size:15px;
    font-family: fantasy;
    
}

article
{
    height:600px;
    width:100%;
    background-color: blanchedalmond;
    margin:0px;
    background-image: url('../images/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Condensed';
}
#season_section
{
    height:550px;
    background-color:white;
    float: left;
    width:100%;
    margin-top: 30px;
    margin-top:0px;
    background-image: url('../images/20.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#news
{
    height:550px;
    background-color:white;
    float: left;
    width:100%;
    margin-top: 30px;
    margin-top:0px;
   
}
h4,h1
{
   text-align: center;
   font-family: 'Roboto Condensed';
}
h2
{
font-family: 'Roboto Condensed';
}
#gif
{
    text-align: center;
    font-family: 'Roboto Condensed';
    font-size: 30px;
    text-decoration-color: brown;
    text-decoration: blueviolet;
    margin:0px;
    color: indianred;
    
}

footer
{
    margin: 0;
    height: 80px;
    padding: 10px 10px 10px 10px;
    background-color:black;
}
footer h3
{
    text-indent: 10px;
    font-size: 20px;
    padding: 10px;
    font-family: fantasy;
    float: left;
    color:white;
}
    
   