/* navbar starts */
.navbar
{
    top:0px;
    position: sticky;
}
.navbar font1
{
    margin-left: 60%;
	font-size: 50px;	
}
/*anchor tag strats */
a
{
    text-decoration: none;
    float: right;
    padding: 120;
	margin-right:5px;
	padding-right:2px;
    font-size:15px;
    font-family: fantasy;
}
section
{
    height:500px;
    background-color:white;
    float: left;
    width:100%;
    margin-top: 30px;
    margin-top:0px;
    background-image: url('../images/20.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h4,h1
{
   text-align: center;
   font-family: 'Times New Roman';
}
/* form style */
#cent
{
    align-content: center;
    
    height:"9500px";
}
#for
{
	margin-left: 40%;
	height:"9500px";
}
h2
{
	text-align: center;
}
/* footer starts */
footer 
{
    margin: 0;
    width: 100%;
    height: 60px;
    padding: 10px 10px 10px 10px;
    background-color:black;
    color: white;
}
    